<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="header">
  <div>←</div>
  <div class="logo">Doctor Dashboard</div>
</div>

{% for msg in messages %}
<div class="form-card">

  <b>{{ msg["user_id"] }}</b><br><br>
  {{ msg["message"] }}<br><br>

  <form method="POST">
    <input type="hidden" name="msg_id" value="{{ msg['id'] }}">
    <textarea name="reply"></textarea>

    <label>
      <input type="checkbox" name="emergency"> Mark as Emergency
    </label><br><br>

    <button class="btn btn-primary">Send Reply</button>
  </form>

</div>
{% endfor %}

</body>
</html>